* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5D6063;
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualise-form-header {
  text-align: center;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.visualise-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.form-content {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;
}


.form-row button {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #5995DA;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}

input[type="date"]{
  padding: 7px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
  cursor: pointer;
  border-radius: 3px;
}

input[type=file]::file-selector-button {
  
  border: 2px solid #6c5ce7;
  padding: 0.438em;
  border-radius: .2em;
  color: #5D6063;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}


/* ==========  MEDIA QUERIES  ========== */

@media only screen and (min-width: 700px) {
    .visualise-form-header,
    .form-content {
      width: 600px;
    }

    .form-row {
      flex-direction: row;
      align-items: flex-start; /* To avoid stretching */
      margin-bottom: 20px;
    }

    .form-row input[type='text'] {
      width: 250px;
      height: initial;
    }

    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }

    .form-row button {
      margin-left: 120px;
    }
    
  }